


<div class="mui-container-fluid">
  <h1>Register New Author</h1>
  <div class="mui-row">
    <div class="mui-col-xs-12 mui-col-md-8 mx-auto">
        <div class="mui-panel my-3 justify-content">
          <%= render 'form', author: @author %>
        </div>
        <%= link_to 'Go Back', authors_path, :class => 'mui-btn mui-btn--raised' %>
    </div>
  </div>
</div>
