<div class="mui-container-fluid">
  <h1>Update This Post</h1>
  <div class="mui-row">
    <div class="mui-col-xs-12 mui-col-md-9 mx-auto">
        <div class="mui-panel my-3 justify-content">
          <%= render partial: 'create-form' %>
        </div>
    </div>
  </div>
</div>
